*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family : sans-serif
}

body {
    background:#E3F2FD;
}

.select-menu {
    width: 380px;
    margin: 140px auto ;
}

.select-menu .select-btn {
    display: flex;
    height: 55px;
    background: #fff;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}